
.block3 {
  max-width: 1220px;
  margin: 0 auto 30px;
  padding-top: 30px;
}

.block3-main-title {
  color: #3C4242;
  font-family: 'Core Sans C';
  font-size: 28px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: 0.5px;
  margin-bottom: 30px;
  min-height: 31px;
  background: url(../img/decore.svg) no-repeat;
  padding-left: 15px;
}

.block3-sub-title {
  color: #807D7E;
  font-family: 'Core Sans C';
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 25px;
}

.block3 p {
  color: #807D7E;
  font-family: "Causten", sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 1.67;
  letter-spacing: 0.4px;
  margin-bottom: 20px;
}
.block3 .pre-last {
  margin-bottom: 25px;
}

.block3 p span{
  font-weight: 700;
}
