.block5 {
  margin: 0 auto 100px auto;
  max-width: 1200px;
  padding: 40px 140px 0;
}

.block5 h2 {
  text-align: center;
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 20px;
}

.block5 h2 span {
  font-style: italic;
  font-weight: 700;
  background-color: burlywood;
}

.background-container {
  max-width: 920px;
}

.left-wrapper h3, .right-wrapper h3 {
  max-width: 450px;
  min-height: 60px;
  margin-bottom: 7px;
}

.left-wrapper{
  margin-right: 7px;
}

.right-wrapper{
  margin-left: 7px;
}


.left-wrapper .background, .right-wrapper .background {
  margin-bottom: 7px;
}

.left-wrapper h3 span, .right-wrapper h3 span {
  font-style: italic;
  font-weight: 600;
}

.left-wrapper, .right-wrapper {
  width: 455 px;
  display: inline-block;
}

.background {
  max-width: 450px;
  height: 150px;
  border-radius: 10px;
}

.background-color {
  background-color: chartreuse;
  
}

.image-background {
  background-image: url("/img/trees.jpg");
}

.background-lineal {
  background: linear-gradient(90deg, rgba(5,88,81,0.742734593837535) 0%, rgba(9,120,121,0.6699054621848739) 75%, rgba(0,255,171,1) 100%);
}

.image-cover {
  background-image: url("/img/trees.jpg");
  background-size: cover;
}

.image-size {
  background-image: url("../img/freelancer.jpg");
  background-position: 0 0;
  background-size: 150px 150px;
  background-repeat: no-repeat;
  border: 1px solid grey;
}

.background-several {
  background: url("../img/trees.jpg") no-repeat 0 50% / 200px, linear-gradient(55.95deg, rgba(184, 132, 131, 0.3) 0%, rgba(56, 32, 18, 0.3) 100%), url("/img/freelancer.jpg") no-repeat right center / 75px;
}