@import url(fonts.css);
@import url(reset.css);

body {
	color: #333333;
	font-size: 18px;
	font-family: Causten, sans-serif;
	font-weight: 400;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	display: flex;
	flex-direction: column;
}

.wrapper>main {
	flex-grow: 1;
}


[class*="__container"] {
	max-width: 1440px;
	margin: 0 auto;

}


/* ======================================================== */
/* header */

.header {
	border-bottom: 1px solid rgba(190, 188, 189, 1);
	background-color: #fffffff1;
	margin-bottom: 101px;
}


.header--fixed {
	position: fixed;
	width: 100%;
	z-index: 90;

}


.header__body {
	display: flex;
	padding: 35px 6.94% 31px;
	align-items: center;
	flex-wrap: nowrap;
}

.header-logo {
	margin-right: 11.4%;
}

.search-field {
	background-color: #F6F6F6;
	display: flex;
	padding: 12px 48px;
	border-radius: 8px;
	margin-right: 14.6%;
}

.icon-loupe {
	margin-right: 12px;
}

.text-field {
	color: #807D7E;
	text-align: center;
	font-family: Causten;
	font-size: 18px;
	font-weight: 500;
	transition: background-color 0.3s;

}

.search-field:hover {
	background-color: rgb(226, 223, 223);
}

/* ---------------------- */
/* ---------------------- */

.languages {
	margin-right: 8.3%;
	flex-grow: 0;
	flex-shrink: 1;
	flex-basis: 206px;
	color: #333333;
	font-weight: 400;
}

.languages__body {
	display: flex;
	align-items: center;
	flex-grow: 1;
	flex-shrink: 0;
	cursor: pointer;
	position: relative;
	z-index: 2;
	flex-basis: 181px;
}

.languages__text {
	margin-right: 15px;
	flex-grow: 1;
	flex-shrink: 0;
	flex-basis: 170px;
	transition: color 0.2s;
}

.languages__icon {
	display: flex;
	transition: all 0.2s;
}


.languages__body:hover .languages__text {
	color: #7a7979;
	background-color: rgb(226, 223, 223);
}

.languages__body:hover .languages__icon {
	transform: rotate(180deg);

}

/* ---------------------- */
/* --------language list styling-------------- */

.languages__list {
	position: absolute;
	top: 18px;
	visibility: hidden;
	min-width: 181px;
}


.languages__ul-list {

	padding: 15px 0 0;
	width: 100%;
	display: flex;
	flex-direction: column;
	background-color: #F6F6F6;

}

.languages__item {
	padding: 0 15px 0 2px;
	transition: all 0.2s;
	margin-bottom: 15px;
}

/* .languages__item:not(:last-child) {
	margin-bottom: 15px;
} */

.languages__body:hover .languages__list {
	visibility: visible;
}



.languages__item:hover {
	color: #555555;
	background-color: rgb(226, 223, 223);
	/* text-decoration: underline; */
}



/* ------------------------------------------ */
/* --------buttons styling-------------- */

.buttons-header {
	display: flex;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 1;
	/* justify-content: end; */
	width: 325px;
}


.login-button,
.signup-button {
	padding: 12px 48px;
	border-radius: 8px;
	flex-grow: 1;
	flex-shrink: 0;
	display: flex;

}

.login-button {
	margin-right: 29px;
	background-color: rgba(138, 51, 253, 1);
	color: white;
	transition: background-color 0.3s;
	min-width: 140px;
}


.signup-button {
	border: 1px solid #3C4242;
	color: rgba(138, 51, 253, 1);
	transition: background-color 0.6s, color 0.3s;
	display: flex;
	justify-content: end;
	min-width: 156px;
}


/* .login-button:hover {
	background-color: rgb(44, 6, 94);
} */

.signup-button:hover {
	background-color: rgb(138, 51, 253, 1);
	color: #fff;
	border: none;
}


/* ======================================================== */
/* categories-men */

.categories-men {
	width: 86%;
	margin: 0 auto 50px;
}

.men-title {
	margin-bottom: 70px;
	min-height: 31px;
	color: #3C4242;
	font-family: "CoreSans";
	font-size: 34px;
	font-weight: 600;
	line-height: 33.5px;
	/* 98.529% */
	letter-spacing: 0.68px;
	/* padding-left: 26px; */
}

.men-title:before {
	content: "";
	width: 6px;
	height: 30px;
	border-radius: 10px;
	background-color: rgba(138, 51, 253, 1);
	position: absolute;

}

.men-text {
	padding-left: 26px;
}

.pic-wrapper {
	display: flex;
	flex-wrap: wrap;
	flex-grow: 0;
	flex-shrink: 1;
	gap: 50px;
	width: 100%;
}

.image-article {
	margin-bottom: 15px;
	max-width: 270.36px;
	max-height: 393.26px;
	overflow: hidden;
	border-radius: 10px;
}

.image-article img {
	width: 270.36px;
	height: 393.26px;
}

.image-article:hover img {
	transform: scale(1.1);
	transition: all 0.3s;
}


.article-item__content {
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	align-items: center;
}

.article-title {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
	/* justify-content: start; */
}


.item-text {
	color: #2A2F2F;
	font-family: "Causten";
	font-size: 17.875px;
	font-weight: 700;
	line-height: 27.93px;
	/* 156.25% */
	letter-spacing: -0.715px;
}

.item-final-text {
	color: #7F7F7F;
	font-family: Causten;
	font-size: 13.407px;
	font-weight: 500;
	line-height: 27.93px;
	/* 208.333% */
	letter-spacing: -0.536px;
}

.article-item__content:hover .article-item__icon {
	padding-right: 15px;
	transition: all 0.3s;
}

/* ======================================================== */
/* Wish list styling */


.page__wishlist {
	width: 62.75%;
}

.wishlist {
	margin: 0 auto 50px;
}

.wishlist-item-wrapper {
	display: flex;
	flex-direction: column;
	row-gap: 60px;
}

.wishlist-title {
	color: #3C4242;
	font-family: "CoreSans";
	font-size: 28px;
	font-weight: 600;
	line-height: 33.5px;
	letter-spacing: 0.56px;
	margin-bottom: 50px;
}

.wishlist__wrapper {
	width: 100%;
}

.wishlist-item {
	display: flex;
	flex-wrap: nowrap;
	align-items: center;
	column-gap: 3.98%;
}

.product-image {
	width: 110px;
	height: 110px;
	overflow: hidden;
}

.product-image img {
	width: 100%;
}

.product-image img:hover {
	transform: scale(1.1);
}


.item-content {
	display: flex;
	width: 77.63%;
	align-items: center;
	justify-content: space-between;
}

.text-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	height: 102px;
}

.text-description p,
.item-price p {
	color: #807D7E;
	font-weight: 500;
	letter-spacing: 0.44px;
	font-size: 22px;
	font-family: "Causten";
}

.text-description p span {
	color: #3C4242;
	font-weight: 700;
}

.item-details {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 272px;
}


.add-to-cart-button {
	width: 143px;
	height: 50px;
	padding: 14px 28px;
	border-radius: 8px;
	background: #8A33FD;
	color: #F6F6F6;
	transition: background-color 0.3s;
}

.add-to-cart-button:hover {
background-color: rgb(44, 6, 94);
}

/* ======================================================== */
/* Orders list styling */

.page__orders-wrapper {
	width: 62.15%;
	margin: 0 auto;
}

.orders-wrapper {
	margin-bottom: 30px;
}


/* block type-1 styling */
.page__orders-list-info {
	width: 100%;
	height: 135px;
	background-color: #F6F6F6;
	padding: 28px 47px;
	display: flex;
	justify-content: space-between;
	align-items: end;
	border-radius: 8px;
}


.order-list__text-box {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.text-box1 {
	height: 71px;
}

.text-box2 {
	height: 41px;
}

.order-list__text-box p {
	font-family: "Causten";
	font-size: 14px;
}

.order-list__text-box .order-number {
	color: #3C4242;
	font-size: 20px;
	font-weight: 600;
}

.order-list__text-box .order-date,
.order-list__text-box .delivery-date,
.order-list__text-box .order-status,
.order-list__text-box .payment-method {
	color: #807D7E;
	font-weight: 600;
}

.order-list__text-box .order-date span,
.order-list__text-box .delivery-date span,
.order-list__text-box .order-status span,
.order-list__text-box .payment-method span {
	color: #BEBCBD;
	font-weight: 400;
}

/* block type-2 styling */
.page__orders-produt-details {
	width: 100%;
	height: 156px;
	padding: 30px 0;
	border-bottom: 1px solid #EDEEF2;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.product-details {
	margin-bottom: 30px;
}

.product-details__info {
	display: flex;
	flex-wrap: nowrap;
	column-gap: 25px;
}

.product-info__image {
	width: 96px;
	height: 96px;
	overflow: hidden;
}

.product-info__image img {
	width: 100%;
	height: 100%;
}

.product-info__image img:hover {
	transform: scale(1.1)
}

.item-description {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.item-description p:nth-child(1) {
	padding-top: 3px;
	margin-bottom: 10px;
	color: #3C4242;
	font-size: 16px;
	font-weight: 600;
}

.item-description p:nth-child(2),
.item-description p:nth-child(3) {
	margin-bottom: 5px;
	color: #3C4242;
	font-size: 14px;
	font-weight: 600;
}

.item-description p:nth-child(2) span,
.item-description p:nth-child(3) span,
.item-description p:nth-child(4) span {
	color: #BEBCBD;
}

.product-details__button {
	width: 144px;
	height: 50px;
	padding: 14px 28px;
	border-radius: 8px;
	background-color: rgb(140, 54, 252);
	color: #FFF;
	text-align: center;
	font-size: 18px;
	font-weight: 500;
	transition: background-color 0.3s;
}

.product-details__button:hover {
	background-color: rgb(44, 6, 94);
}

/* Footer styling */

.footer-container {
	height: 100px;
	background-color: rgba(64, 64, 64, 1);
	padding: 30px 0;
}

.footer-container p {
	color: #F6F6F6;
	text-align: center;
	font-size: 14px;
	font-weight: 500;
}