.provide {
  background: #37393f;
  padding-left: 20px;
}

.provide__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 872/741;
  object-fit: cover;
}

.content-wrapper {
  max-width: 1220px;
  margin: 0 auto;
  display: flex;
  /* align-items: center; */
  padding-top: 138px;
  padding-bottom: 136px;
  flex-direction: column;
  padding-right: 7.54%;
}

.provide__header-block-mb {
  margin-bottom: 36px;
}

.provide__header-block-mb>*:not(:last-child) {
  margin-bottom: 13px;
}

.provide__sub-title {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 500;
  padding-left: 18px;
  align-items: center;
  background: url(../img/consulting/bgsquere.svg) 0 2.5px no-repeat;
}

.provide__title {
  color: #FFF;
  font-family: Poppins;
  font-size: 30px;
  font-weight: 600;
  line-height: 121%;
  /* 36.3px */
}

.porvide__text-block>p {
  color: #FFF;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 146.187%;
  /* 26.314px */
}

.provide__counter {
  display: flex;
  column-gap: 2.4%;
}

.provide__body-mb {
  margin-bottom: 36px;
}

.counter-provide__item {
  flex: 0 1 48.8%;
  display: flex;
  column-gap: 4.03%;
  background-color: #2E2F34;
  padding: 4.31% 4.79%;
}

.counter-provide__info {
  padding: 14.66px 0;
}


.counter-provide__label {
  color: #FFF;
  font-family: 'Inter';
  font-size: 16px;
  font-weight: 400;
  line-height: 135.187%;
  /* 21.63px */
}

.counter-provide__title {
  color: #FFF;
  font-family: 'Poppins';
  font-size: 18px;
  font-weight: 600;
}


.provide__value {
  display: flex;
  column-gap: 2.4%;
}

.value-provide__wrapper {
  flex: 0 1 50%;
  /* display: flex;
  flex-direction: column; */
}

.value-provide__number {
  color: #FFF;
  font-family: Poppins;
  font-size: 20px;
  font-weight: 700;
  padding-left: 33px;
  background: url(../img/consulting/checked.svg) no-repeat;
  min-height: 28px;
  padding-top: 5px;
}


.value-provide__number-mb {
  margin-bottom: 23px;
}

.value-provide__number span {
  font-weight: 400;
}

.image-text {
  color: #FFB342;
}

.value-provide__link {
  color: #40DDB6;
  font-family: Inter;
  font-size: 18px;
  font-weight: 600;
  padding-top: 5px;
}

.value-provide__link:hover {
  text-decoration: underline;
}

@media (any-hover: hover) {
  .value-provide__link:hover {
    text-decoration: underline;
  }
}

@media (min-width: 250px) and (max-width: 457px) {
  .provide__counter {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .counter-provide__item {
    flex: 0 1 100%;
  }
}


@media (min-width: 320px) and (max-width: 767px) {

  .provide__wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .content-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-right: 0;
  }

  .content-wrapper-additional {
    flex: 1 1 100%;
  }

  .provide__header-block {
    display: flex;
    flex-wrap: wrap;
  }

  .provide__title {
    text-align: center;
  }
}


@media (max-width: 527px) {
  .value-provide {
    flex-wrap: wrap;
    row-gap: 10px;
  }

  .value-provide__wrapper {
    flex: 1 1 100%
  }

}

@media (max-width: 766px) {
  .provide {
    padding-right: 20px;
  }
}


@media (min-width: 767px) {
  .provide__wrapper {
    display: flex;
  }

  .provide__content {
    display: flex;
    flex: 0 0 100%;
  }

  .provide__image {
    position: relative;
    flex: 0 0 calc(100vw * 0.4);
    transform: translate(-100%, 0px);
  }

  .provide__image img {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    object-fit: cover;
  }

  .content-wrapper-additional {
    width: 60%;
  }
}


@media (min-width: 1220px) {
  .provide__image {
    flex: 0 0 calc(50vw - (0.6 - 0.5) * 1220px);
  }
}