@import url(fonts.css);
@import url(reset.css);

body {
  font-family: "Inter", sans-serif;
	color: #7d7d7d;
	font-size: 18px;
	font-weight: 400;
}

.wrapper {
	overflow: clip;
	min-height: 100%;
	background-image: url(../img/destroyed-moscow1.png);
	background-repeat: no-repeat;
	background-size: cover;
}



[class*="__container"] {
	max-width: 100%;
	padding-left: 15px;
	padding-right: 15px;
}


.header {
	background-color: #3d3333;
	padding: 15px;
	text-align: center;
	font-size: 24px;
	font-weight: 600;
	color: white;
}

.header--fix {
	position: sticky;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 10;
}

.tank {
	max-width: 900px;
	position: relative;
	bottom: 0px;
	left: 2%;
}


/* прапор кулемет */

.our-flag {
	position: relative;
	display: inline-block;
	width: 90px;
	top: 165px;
	left: 23%;
}



.ukr-flag {
	width: 100%;
}

.tank-hatch {
	position: relative;
	display: inline-block;
	width: 65px;
	top: 279px;
	left: 30%;
}

.hatch {
	width: 100%;
}


.machine-gun {
	position: relative;
	display: inline-block;
	top: 265px;
	left: 31.9%;
}

.heavy-machine-gun {
	width: 100px;
}

/* ствол танку */
.barrel {
	position: relative;
	display: inline-block;
	font-size: 0;
	top: 390px;
	left: 535px;

}

.barel-item {
	position: relative;
	display: inline-block;
	background-color: #4E4B2C;
}

.barel-item1 {
	height: 40px;
	width: 80px;
	bottom: 3px;
	border-top: #302e19 solid 1px;
	border-bottom: #302e19 solid 1px;
}

.barel-item2 {
	height: 45px;
	width: 55px;
	border-right: #302e19 dashed 3px;
	border-left: #302e19 dashed 3px;
	border-radius: 4px;
	border-top: #302e19 solid 1px;
	border-bottom: #302e19 solid 1px;
}

.barel-item3 {
	height: 30px;
	width: 160px;
	bottom: 7px;
	border-top: #302e19 solid 1px;
	border-bottom: #302e19 solid 1px;
}

.barel-item4 {
	height: 35px;
	width: 30px;
	bottom: 4px;
	border-radius: 2px;
	border-right: #302e19 dashed 3px;
	border-left: #302e19 dashed 3px;
	border-top: #302e19 solid 1px;
	border-bottom: #302e19 solid 1px;

}

.barel-item5 {
	height: 30px;
	width: 20px;
	bottom: 7px;
	border-top: #302e19 solid 1px;
	border-bottom: #302e19 solid 1px;
	border-right: #302e19 solid 1px;

}


/* башта танку */

.tower {
	position: relative;
	display: inline-block;
	z-index: 1;
	min-width: 35%;
	height: 110px;
	font-size: 0;
	top: 122px;
	left: 27%;
}

.tower-part-minus-upper,
.tower-part-plus-upper,
.tower-part-minus-lower,
.tower-part-plus-lower {
	width: 50%;
	height: 30px;
	display: inline-block;
	position: relative;
	background-color: #4E4B2C;
	border-radius: 1px;
}

.tower-part {
	width: 100%;
	height: 50px;
	position: relative;
	background-color: #4E4B2C;
	border-radius: 4px;
	border: 3px dashed #302e19;
}

.tower-image {
	width: 40px;
	height: 40px;
	position: relative;
	top: 2px;
	left: 43%;
}

.tower-part-minus-upper {
	transform: skew(-49deg);
	left: 17px;
}

.tower-part-plus-upper {
	transform: skew(49deg);
	right: 18px;
}

.tower-part-minus-lower{
	transform: skew(-49deg);
	right: 18px;
}

.tower-part-plus-lower{
	transform: skew(49deg);
	left: 18px;
}

/* задня частина танку */

.back-side {
	width: 25%;
	height: 74px;
	position: relative;
	top: 46px;
	left: 4px;
	font-size: 0;
}

.tanker {
	width: 19%;
	height: 37px;
	background-color: #4E4B2C;
	position: relative;
	display: inline-block;
	border-radius: 50%;
	border: 3px dashed #302e19;
	left: 5px;
}


.back-block {
	width: 100%;
	height: 35px;
	background-color: #4E4B2C;
	position: relative;
	bottom: 0px;
	transform: skew(14deg);
	border-top-right-radius: 5px;
	border-top-left-radius: 10px;
	border: 4px dashed #302e19;
}

/* Середня частина танку  - броня*/
.tank__middle-part {
	width: 84%;
	position: relative;
	left: 5%;
}


.armour-beam-above::before {
	content: "";
	width: 0;
	height: 0;
	border: 0 solid transparent;
	position: relative;
	border-top: 43px solid #302e19;
	left: -35px;
	border-left-width: 35px;
	border-right-width: 0px;
	display: inline-block;
}

.armour-beam-above {
	width: 75%;
	height: 35px;
	background-color: #302e19;
	position: relative;
	top: 44px;
	z-index: 1;
	border-bottom: 4px dashed #4E4B2C;
}

.armour-beam-above::after {
	content: "";
	width: 0;
	height: 0;
	border: 0 solid transparent;
	position: absolute;
	border-bottom: 43px solid #302e19;
		right: -180px;
	border-left-width: 0px;
	border-right-width: 180px;
		display: inline-block;
	z-index: 2;
}

.headlamp {
	display: inline-block;
	position: absolute;
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-bottom-width: 0px;
	border-top-width: 18px;
	border-right: 18px solid #302e19;
	right: -182px;
	bottom: -4px;
	z-index: 3;
}

.armour-beam {
	width: 100%;
	height: 10px;
	background-color: #302e19;
	position: relative;
	top: 43px;
	z-index: 1;
}

.armour-wrapper {
	width: 100%;
	font-size: 0;
}

.left-armour, .middle-armour, .right-armour {
	display: inline-block;
	position: relative;
	top: 43px;
	z-index: 1;
}

.middle-armour {
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-top: 35px solid #302e19;
	border-left-width: 88px;
	border-right-width: 88px;

}

.middle-armour-one {
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-top: 35px solid #302e19;
	border-left-width: 0px;
	border-right-width: 176px;

}

.middle-armour-three {
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-top: 35px solid #302e19;
	border-left-width: 176px;
	border-right-width: 0px;

}

.left-armour {
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 80px;
	border-right-width: 0px;
	border-top: 35px solid #302e19;
	/* box-shadow: 1px black ; */
}

.right-armour {
	width: 0;
	height: 0;
	border: 0 solid transparent;
	border-left-width: 0px;
	border-right-width: 120px;
	border-top: 35px solid #302e19;
}

/* Гусениця та катки */
.lower-part__wheels {
	width: 72%;
	height: 150px;
	background-color: #4E4B2C;
	border-bottom-right-radius: 700px;
	border-top-right-radius: 100px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 690px;
	transform: skew(-10deg);
	position: relative;
	border-bottom: #302e19 10px dashed;
	border-left: #302e19 10px dashed;
	border-right: #302e19 10px dashed;
	font-size: 0;
	position: relative;
	left: 10%;
}

.wheel-item, .wheel-item-left, .wheel-item-right {
	display: inline-block;
	height: 100px;
	width: 100px;
	background-color: #302e19;
	border-radius: 50%;
	transform: skew(10deg);
	position: relative;
}


.wheel-item {
	bottom: -50px;
	/* top: 20%; */
	margin-right: 5px;
	left: 4px;
}

.wheel-item-right {
	bottom: 48px;
	position: absolute;
	right: 10px;


}

.inner-sircle {
	width: 80px;
	height: 80px;
	border-radius: 50%;
	background-color: #4E4B2C;
	position: absolute;
	left: 10px;
	top: 10px;


}

.inner-small-sircle {
	width: 22px;
	height: 22px;
	background-color: #302e19;
	border-radius: 50%;
	display: inline-block;
	position: relative;
}

.sircle1 {
	left: 13px;
	top: 10px;
}

.sircle2 {
	top: 8px;
	left: 22px;
}

.sircle3 {
	top: 32px;
	left: 10px;
} 

.sircle4 {
	top: 17px;
	left: 6px;
} 

.sircle5 {
	top: 32px;
	left: 10px;
} 

.inner-small-sircle-center {
	width: 10px;
	height: 10px;
	background-color: #302e19;
	border-radius: 50%;
	position: absolute;
	top: 35px;
	left: 35px;
	border: #222112 solid 3px;
}

/* footer styling */

.footer__container {

	padding: 18px 0;
	background-color: #3d3333;
	color: white;
}


.sign {
	font-weight: 400;
	font-size: 18px;
	text-align: center;
}